Задания для сдачи первого семестра экстерном.

Условия:

- За семестр выставляется (в процентах) количество баллов за решенные правильно задачи. Если не указано иное, за одну задачу - один балл.
- Сдавать через систему ревью на гитхабе, присланные по почте тетрадки проверять не буду (естественно).

### Часть 1. Basics

#### 1.

На вход программе даётся число X и список чисел. Удалите из списка все вхождения элемента X. Программа должна работать за линейное время. Программа не должна использовать дополнительную память. Функция filter запрещена.

In [ ]:
# your code here

x = 7
numbers = [3, 2, 2, 2, 1, 14, 15, 7, 7, 5, 7, 6, 5]
i = 0

while  i < len(numbers):
  if numbers[i] == x:
    del numbers[i]
    i = 0
  i+=1
print (numbers)

[3, 2, 2, 2, 1, 14, 15, 5, 6, 5]

#### 2.

Eсть список со вложенными списками (глубина вложенности может быть какая угодно: это может быть список списков списков...). Напишите функцию, которая будет рекурсивно обходить все элементы в этих списках и посчитает, сколько всего встретилось уникальных элементов. Считаем, что эти элементы - целые числа.

In [ ]:
lst000 = [[], [[[1,2, 333]]], 4, [[[[[8, 8, 8, [9]]]]]], 333]
types = []

def flatten(test_list):
    if isinstance(test_list, list):
        if len(test_list) == 0:
            return []
        first, rest = test_list[0], test_list[1:]
        return flatten(first) + flatten(rest)
    else:
        return [test_list]

types = flatten (lst000)

print (types)
print ('Unique: ', len({*types}))

[1, 2, 333, 4, 8, 8, 8, 9, 333]
Unique:  6

#### 3.

Дан список с элементами разных типов (потенциально любых). Напишите программу, которая возвращает словарь, в котором ключами являются типы данных (их названия в виде строк), а значениями - количества элементов такого типа в исходном списке.

In [ ]:
lst_1 = ['good', 4, ('foo', 'bar'), 'sooooq', 6.4, -1, {}, lambda x: x + 1, 16, 24]
lst_11 = [None] * len(lst_1)
i = 0

while i < len(lst_1):
  lst_11[i] = type (lst_1[i]).__name__
  i+=1

dct_11 = {i:lst_11.count(i) for i in lst_11}
print (dct_11)

{'str': 2, 'int': 4, 'tuple': 1, 'float': 1, 'dict': 1, 'function': 1}

#### 4.

Даны два списка чисел, с повторами элементов внутри них. Составьте общий список из этих двух списков. Каждый элемент должен присутствовать наименьшее ненулевое число раз, исходя из его присутствия в исходных списках. Т.е. если число "5" присутствует в первом списке 3 раза, а во втором списке - 5 раз, значит, в конечном списке оно должно присутствовать 3 раза.

In [ ]:
lst_2_1 = [1, 2, 2, 2, 3, 5, 5, 5, 5, 5, 6, 6, 6]
lst_2_2 = [1, 1, 1, 2, 4, 4, 5, 5, 6, 6, 6, 6, 6, 6, 7]

dct_21 = {i:lst_2_1.count(i) for i in lst_2_1}
dct_22 = {i:lst_2_2.count(i) for i in lst_2_2}
alldict = [dct_21, dct_22]
allkey = dict.fromkeys(set().union(*alldict), 1)
dct_233 = allkey | dct_22 | dct_21
dct_232 = allkey | dct_21 | dct_22

dct_23 = {k:min(dct_233[k],dct_232[k]) for k in dct_233.keys() & dct_232}


res = list(dct_23.values())

res1 = list(set(dct_23.keys()))

res2 = []
i = 0
y = 0

while i < len(res):
  for y in range (0, res[i]):
    res2.append(res1[i])
  i+=1

print (res2)

[1, 2, 3, 4, 4, 5, 5, 6, 6, 6, 7]

#### 5.

Дан неупорядоченный список чисел. Предполагая, что его элементы - значения масс, найдите индекс списка, наиболее близкий к координате его центра масс.

(Гуглить про центр масс не воспрещается)

In [ ]:
lst_3 = [10, 20, 5, 50, 150, 10, 25, 100, 70, 30]

left = 0
right = 0
memory = [0, 0]
i = 0
i1 = 0

while i < len(lst_3):
  left+=lst_3[i]
  right = sum (lst_3[i+1:-1])
  if (right == left):
    print ('center of mass:', i)
    break
  elif ((abs (memory[0]-memory[1]) > abs(left-right)) != 1) and (i > 0):
    print ('center of mass between:', i-1, i)
    break
  i+=1
  memory[0] = left
  memory[1] = right

# your code here

center index between: 4 5

### Часть 2. Pandas

In [73]:
import pandas as pd
import glob

from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

#### Описание данных

В папке Data находится информация о студентах. Всего 10 групп студентов. Файлы делятся на две категории:
    * Students_info_i - информация о студентах из группы i
    * Students_marks_i - оценки студентов из группы i за экзамены

#### Задание 1. Соберите всю информацию о студентах в одну таблицу df. В получившейся таблице должна быть информация и оценки всех студентов из всех групп. Напечатайте несколько строк таблицы для демонстрации результата.¶

In [104]:

csv1 = pd.concat([pd.read_csv(file) for file in glob.glob(f"/content/gdrive/My Drive/data_stud/Students_info_*.csv")])
csv2 = pd.concat([pd.read_csv(file) for file in glob.glob(f"/content/gdrive/My Drive/data_stud/Students_marks_*.csv")])                # use your path
#all_files1 = glob.glob(f"/content/gdrive/My Drive/data_stud/Students_info_*.csv")


csv2.drop('index', axis=1, inplace=True)

df = pd.concat([csv1, csv2], axis=1)

#### Задание 2. Удалите столбец index у полученной таблицы. Напечатайте первые 10 строк таблицы.

In [105]:
df.drop('index', axis=1, inplace=True)

print (df.head(10))

   gender race/ethnicity parental level of education         lunch  \
0    male        group B                some college      standard
1    male        group D           bachelor's degree      standard
2  female        group D          associate's degree      standard
3    male        group B                 high school      standard
4    male        group C                some college      standard
5  female        group C                some college      standard
6  female        group D             master's degree      standard
7    male        group E          associate's degree      standard
8  female        group B          associate's degree  free/reduced
9  female        group B            some high school      standard

  test preparation course   group  math score  reading score  writing score
0                    none  group2          72             72             74
1               completed  group2          69             90             88
2                    none  group2          90             95             93
3               completed  group2          47             57             44
4               completed  group2          76             78             75
5                    none  group2          71             83             78
6                    none  group2          88             95             92
7               completed  group2          40             43             39
8                    none  group2          64             64             67
9                    none  group2          38             60             50

#### Задание 3. Выведите на экран размеры полученной таблицы

In [106]:
print (df.size)

9000

#### Задание 4. Выведите на экран статистические характеристики числовых столбцов таблицы (минимум, максимум, среднее значение, стандартное отклонение)

In [108]:
print ('Stats (min, max, avg, stdev) for math score:', df['math score'].min (), ' ', df['math score'].max (), ' ', df['math score'].mean (), ' ', df['math score'].std ())
print ('Stats (min, max, avg, stdev) for reading score:', df['reading score'].min (), ' ', df['reading score'].max (), ' ', df['reading score'].mean (), ' ', df['reading score'].std ())
print ('Stats (min, max, avg, stdev) for writing score:', df['writing score'].min (), ' ', df['writing score'].max (), ' ', df['writing score'].mean (), ' ', df['writing score'].std ())

Stats (min, max, avg, stdev) for math score: 0   100   66.089   15.163080096009452
Stats (min, max, avg, stdev) for reading score: 17   100   69.169   14.600191937252216
Stats (min, max, avg, stdev) for writing score: 10   100   68.054   15.19565701086965

#### Задание 5. Проверьте, есть ли в таблице пропущенные значения

In [109]:
print (df.isna().sum()) #смотрим сколько пропущенных значений для каждого столбца

gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
group                          0
math score                     0
reading score                  0
writing score                  0
dtype: int64

#### Задание 6. Выведите на экран средние баллы студентов по каждому предмету (math, reading, writing)

In [110]:
df['mean'] = df.iloc[:, 6:8].mean(axis=1)
print (df['mean'])

0     72.0
1     79.5
2     92.5
3     52.0
4     77.0
      ...
95    64.5
96    43.5
97    72.5
98    43.0
99    88.5
Name: mean, Length: 1000, dtype: float64

#### Задание 7. Как зависят оценки от того, проходил ли студент курс для подготовки к сдаче экзамена (test preparation course)? Выведите на экран для каждого предмета в отдельности средний балл студентов, проходивших курс для подготовки к экзамену и не проходивших курс.

In [111]:
g = df.groupby ('test preparation course')
print ('Completed: ', g.get_group ('completed').mean ())


print ('None: ', g.get_group ('none').mean ())

Completed:  math score       65.645251
reading score    68.337989
writing score    67.351955
mean             66.991620
dtype: float64
None:  math score       66.336449
reading score    69.632399
writing score    68.445483
mean             67.984424
dtype: float64

<ipython-input-111-586822e89a41>:2: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  print ('Completed: ', g.get_group ('completed').mean ())
<ipython-input-111-586822e89a41>:5: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  print ('None: ', g.get_group ('none').mean ())

#### Задание 8. Выведите на экран все различные значения из столбца lunch.

In [112]:
print(df['lunch'].unique())

['standard' 'free/reduced']

#### Задание 9. Переименуйте колонку "parental level of education" в "education", а "test preparation course" в "test preparation" с помощью метода pandas rename
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rename.html

In [113]:
df.rename(columns={"parental level of education": "education", "test preparation course": "test"})

,gender,race/ethnicity,education,lunch,test,group,math score,reading score,writing score,mean
0,male,group B,some college,standard,none,group2,72,72,74,72.0
1,male,group D,bachelor's degree,standard,completed,group2,69,90,88,79.5
2,female,group D,associate's degree,standard,none,group2,90,95,93,92.5
3,male,group B,high school,standard,completed,group2,47,57,44,52.0
4,male,group C,some college,standard,completed,group2,76,78,75,77.0
...,...,...,...,...,...,...,...,...,...,...
95,male,group A,high school,free/reduced,none,group4,67,62,60,64.5
96,female,group B,high school,free/reduced,none,group4,46,41,43,43.5
97,female,group C,associate's degree,standard,none,group4,71,74,68,72.5
98,male,group B,some high school,standard,none,group4,40,46,50,43.0
99,male,group D,some high school,standard,none,group4,90,87,75,88.5

**Зафиксируем минимальный балл для сдачи экзамена**

In [114]:
passmark = 50

#### Задание 10. Ответьте на вопросы:

    * Какая доля студентов сдала экзамен по математике (passmark > 50)?
    * Какая доля студентов, проходивших курс подготовки к экзамену, сдала экзамен по математике?
    * Какая доля женщин, не проходивших курс подготовки к экзамену, не сдала экзамен по математике?

In [115]:
len(df[df['math score']>passmark])

850

#### Задание 11. С помощью groupby выполните задания ниже. Также выведите время выполнения каждого из заданий.

    * Для каждой этнической группы выведите средний балл за экзамен по чтению
    * Для каждого уровня образования выведите минимальный балл за экзамен по письму

In [118]:
len(g.get_group ('completed')['math score']>passmark)

358

#### Задание 12. Выполните задание 11 с помощью циклов. Сравните время выполнения.

In [121]:
import time
start_time = time.time()
len(g.get_group ('completed')['math score']>passmark)

print("--- %s seconds ---" % (time.time() - start_time))

start_time = time.time()
x = 0
i = 0

c = g.get_group ('completed')['math score']
while i < len (g.get_group ('completed')['math score']):
  if c.iloc[i] > passmark:
    x+=1
  i+=1

print("--- %s seconds ---" % (time.time() - start_time))

--- 0.005162477493286133 seconds ---
--- 0.2568674087524414 seconds ---

#### Задание 13. Выведите на экран средние баллы студентов по каждому предмету в зависимости от пола и уровня образования. То есть должно получиться количество групп, равных 2 * (число уровней образования), и для каждой такой группы выыведите средний балл по каждому из предметов.

Это можно сделать с помощью сводных таблиц (pivot_table):

https://www.kaggle.com/kamilpolak/tutorial-how-to-use-pivot-table-in-pandas

In [130]:
grouped = pd.pivot_table(df.drop (df.columns[[1, 3, 4, 5, 6, 7, 8]], axis=1) ,index=['gender','parental level of education'])
grouped

                                         mean
gender parental level of education
female associate's degree           68.961207
       bachelor's degree            66.912698
       high school                  66.914894
       master's degree              68.888889
       some college                 68.347458
       some high school             68.175824
male   associate's degree           67.882075
       bachelor's degree            67.809091
       high school                  66.348039
       master's degree              69.021739
       some college                 67.481481
       some high school             65.988636

#### Задание 14. Сколько студентов успешно сдали экзамен по математике?

Создайте новый столбец в таблице df под названием Math_PassStatus и запишите в него F, если студент не сдал экзамен по математике (балл за экзамен < passmark), и P иначе.

Посчитайте количество студентов, сдавших и не сдавших экзамен по математике.

Сделайте аналогичные шаги для экзаменов по чтению и письму.

In [134]:
i = 0

passed = []

while i < len (df['math score']):
  if df.iloc[i]['math score'] > passmark:
    passed.append('P')
  else:
    passed.append('F')
  i+=1

df['Math_PassStatus'] = passed
df.head ()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,group,math score,reading score,writing score,mean,Math_PassStatus
0,male,group B,some college,standard,none,group2,72,72,74,72.0,P
1,male,group D,bachelor's degree,standard,completed,group2,69,90,88,79.5,P
2,female,group D,associate's degree,standard,none,group2,90,95,93,92.5,P
3,male,group B,high school,standard,completed,group2,47,57,44,52.0,F
4,male,group C,some college,standard,completed,group2,76,78,75,77.0,P

#### Задание 15. Сколько студентов успешно сдали все экзамены?

Создайте столбец OverAll_PassStatus и запишите в него для каждого студента 'F', если студент не сдал хотя бы один из трех экзаменов, а иначе 'P'.

Посчитайте количество студентов, которые сдали все экзамены.

In [139]:
i = 0

passed = []

while i < len (df['math score']):
  if ((df.iloc[i]['math score'] > passmark) & (df.iloc[i]['reading score'] > passmark) & (df.iloc[i]['writing score'] > passmark)):
    passed.append('P')
  else:
    passed.append('F')
  i+=1

df['OverAll_PassStatus'] = passed
df.head ()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,group,math score,reading score,writing score,mean,Math_PassStatus,OverAll_PassStatus
0,male,group B,some college,standard,none,group2,72,72,74,72.0,P,P
1,male,group D,bachelor's degree,standard,completed,group2,69,90,88,79.5,P,P
2,female,group D,associate's degree,standard,none,group2,90,95,93,92.5,P,P
3,male,group B,high school,standard,completed,group2,47,57,44,52.0,F,F
4,male,group C,some college,standard,completed,group2,76,78,75,77.0,P,P

#### Задание 16. Переведем баллы в оценки

### Система перевода баллов в оценки
####      [90;100] = A
####      [80;90) = B
####      [70;80) = C
####      [60;70) = D
####      [50;60) = E
####      [0;50) = F (Fail)

Создайте вспомогательную функцию, которая будет по среднему баллу за три экзамена выставлять оценку студенту по данным выше критериям.

Создайте столбец Grade и запишите в него оценку каждого студента.

Выведите количество студентов, получивших каждую из оценок.

In [178]:

def GetGrade(average_mark):

    if (100 >= average_mark > 90): return 'A'
    elif (90 >= average_mark > 80): return 'B'
    elif (80 >= average_mark > 70): return 'C'
    elif (70 >= average_mark > 60): return 'D'
    elif (60 >= average_mark > 50): return 'E'
    else: return 'F'

i = 0
grades = []
while i < len (df['gender']):
  grades.append (GetGrade(int(df.iloc[i]['mean'])))
  i+=1

df['Grade'] = grades


print (df['Grade'].value_counts())

df.head ()

D    269
C    240
E    189
B    141
F    117
A     44
Name: Grade, dtype: int64

,gender,race/ethnicity,parental level of education,lunch,test preparation course,group,math score,reading score,writing score,mean,Math_PassStatus,OverAll_PassStatus,Grade
0,male,group B,some college,standard,none,group2,72,72,74,72.0,P,P,C
1,male,group D,bachelor's degree,standard,completed,group2,69,90,88,79.5,P,P,C
2,female,group D,associate's degree,standard,none,group2,90,95,93,92.5,P,P,A
3,male,group B,high school,standard,completed,group2,47,57,44,52.0,F,F,E
4,male,group C,some college,standard,completed,group2,76,78,75,77.0,P,P,C

### Часть 3. NumPy

Во всех задачах необходимо написать код решения внутри функции и убедиться, что она работает, с помощью [assert](https://python-reference.readthedocs.io/en/latest/docs/statements/assert.html) на выражение с использованием этой функции для данных из условия.

При решении задач запрещается использовать циклы (`for`, `while`) и оператор `if`.

Везде, где встречаются массивы или матрицы, подразумевается, что это `numpy.array`.

**numpy reference:** https://numpy.org/doc/stable/reference/index.html

In [ ]:
import numpy as np

### Задание 1

Напишите функцию, возвращающую округленную взвешенную сумму оценок по данным оценкам и весам. Можете посчитать свою оценку за курс :) В нашем случае вес экзамена равен 0.3, вес домашек - 0.4, вес контрольной - 0.2, вес самостоятельных - 0.1. Например, если за экзамен у вас 7, за домашки 10, за контрольную 8, а за самостоятельные 6, то вы получите отличную оценку 8!

In [ ]:
def result_mark(weights: np.array, marks: np.array) -> int:
    x = np.average (marks, axis=0, weights=weights)
    x = np.round (x)
    return x

In [ ]:
weights = np.array([0.3, 0.4, 0.2, 0.1])
marks = np.array([7, 10, 8, 6])

result_mark(weights, marks)

8.0

In [ ]:
weights = np.array([0.3, 0.4, 0.2, 0.1])
marks = np.array([7, 0, 8, 6])

result_mark(weights, marks)

4.0

### Задание 2

Напишите функцию, меняющую каждое третье (начиная с 0) значение массива целых чисел на заданное число. Например, если на вход поступает массив `array([3, 5, 1, 0, -3, 22, 213436])` и число `-111`, то на выходе должен получиться массив `array([-111, 5, 1, -111, -3, 22, -111])`.

In [ ]:
def change_array(array: np.array, number: int) -> np.array:
    for i in range (len(array)):
      if i % 3 == 0:
        array[i] = number

    array[0] = number
    return array

array = np.array([3, 5, 1, 0, -3, 22, 213436])
number = -111

change_array(array, number)

array([-111,    5,    1, -111,   -3,   22, -111])

In [ ]:
array = np.array([3, 5, 1, 0, -3, 22, 213436])
number = -111

assert np.allclose(change_array(array, number), np.array([-111, 5, 1, -111, -3, 22, -111]))

In [ ]:
array = np.array([3, 14, 15, 92, 6])
number = 8

assert np.allclose(change_array(array, number), np.array([8, 14, 15, 8, 6]))

### Задание 3

Напишите функцию, выдающую индексы «близких» элементов заданных массивов, а именно тех пар элементов, чей модуль разницы не превосходит заданного значения. Например, если на вход поступают массив `array([1.5, 0.5, 2, -4.1, -3, 6, -1])`, массив `array([1.2, 0.5, 1, -4, 3, 0, -1.2])` и число `0.5`, то на выходе должен получиться массив `array([0, 1, 3, 6])` (**важно: не `tuple`, а одномерный массив типа `numpy.ndarray` (то есть `.ndim` от него равно 1)!**).

In [70]:
def find_close(array1: np.array, array2: np.array,
               precision: float) -> np.array:
    x = abs(array1 - array2) <= 0.5
    x = list(x)
    y = []
    for i in range (len(x)):
      if x[i] == True:
        y.append (i)
    return y



array1 = np.array([1.5, 0.5, 2, -4.1, -3, 6, -1])
array2 = np.array([1.2, 0.5, 1, -4.0,  3, 0, -1.2])
precision = 0.5
find_close(array1, array2, precision)

[0, 1, 3, 6]

In [ ]:
array1 = np.array([1.5, 0.5, 2, -4.1, -3, 6, -1])
array2 = np.array([1.2, 0.5, 1, -4.0,  3, 0, -1.2])
precision = 0.5
res = find_close(array1, array2, precision)

assert res.ndim == 1
assert np.allclose(res, np.array([0, 1, 3, 6]))

In [ ]:
array1 = np.array([3.1415, 2.7182, 1.6180, 6.6261])
array2 = np.array([6.6730, 1.3807, -1,     6.0222])
precision = 1.7
res = find_close(array1, array2, precision)

assert res.ndim == 1
assert np.allclose(res, np.array([1, 3]))

### Задание 4

Напишите функцию, которая составляет блочную матрицу из четырех блоков, где каждый блок - это заданная матрица. Например, если на вход поступает матрица
$$
\begin{pmatrix}
0 & 1 & 2\\
3 & 4 & 5\\
\end{pmatrix},
$$
то ответом будет матрица
$$
\begin{pmatrix}
0 & 1 & 2 & 0 & 1 & 2\\
3 & 4 & 5 & 3 & 4 & 5\\
0 & 1 & 2 & 0 & 1 & 2\\
3 & 4 & 5 & 3 & 4 & 5\\
\end{pmatrix}
$$

In [ ]:
def block_matrix(block: np.array) -> np.array:
    x = np.concatenate ((block, block), axis = 0)
    x = np.concatenate ((x,x), axis = 1)
    return x

lets_see = np.array([[0, 1, 2], [3, 4, 5]])

block_matrix (lets_see)

array([[0, 1, 2, 0, 1, 2],
       [3, 4, 5, 3, 4, 5],
       [0, 1, 2, 0, 1, 2],
       [3, 4, 5, 3, 4, 5]])

In [ ]:
block = np.array([[1, 3, 3], [7, 0, 0]])

assert np.allclose(
    block_matrix(block),
    np.array([[1, 3, 3, 1, 3, 3],
              [7, 0, 0, 7, 0, 0],
              [1, 3, 3, 1, 3, 3],
              [7, 0, 0, 7, 0, 0]])
)

### Задание 5

Напишите функцию, вычисляющую произведение всех ненулевых диагональных элементов на диагонали данной квадратной матрицы. Например, если на вход поступает матрица
$$
\begin{pmatrix}
0 & 1 & 2\\
3 & 4 & 5\\
6 & 7 & 8\\
\end{pmatrix},
$$
то ответом будет 32.

Элементы матрицы считать целочисленными.

In [ ]:
def diag_prod(matrix: np.array) -> int:

    a = list(matrix.diagonal ())
    x = 1
    for i in range(len (a)):
        if a[i] != 0:
          x = x * a[i]
    return x

matrix = np.array([[0, 1, 2, 3],
                   [4, 5, 6, 7],
                   [8, 9, 10, 11],
                   [12, 13, 14, 15]])

diag_prod(matrix)

750

In [ ]:
matrix = np.array([[0, 1, 2, 3],
                   [4, 5, 6, 7],
                   [8, 9, 10, 11],
                   [12, 13, 14, 15]])

assert diag_prod(matrix) == 750

### Задание 6

Для улучшения качества работы некоторых алгоритмов машинного обучения может быть полезно использовать [нормализацию данных](https://vk.cc/8xmfQk), чтобы привести признаки в выборке к одному масштабу — а именно, из каждого столбца вычесть среднее его значений и поделить на их стандартное отклонение. Напишите функцию, нормализующую входящую матрицу (по столбцам). Например, если на вход подается матрица
$$
\begin{pmatrix}
1 & 4 & 4200\\
0 & 10 & 5000\\
1 & 2 & 1000\\
\end{pmatrix},
$$
то результатом с точностью до сотых будет матрица
$$
\begin{pmatrix}
0.71 & -0.39 & 0.46\\
-1.41 & 1.37 & 0.93\\
0.71 & -0.98 & -1.39\\
\end{pmatrix}
$$

Учтите, что в вашем матрице не должно получаться никаких nan. Подумайте, в каком случае они могут возникнуть и как обойти эту проблему.

_Подсказка. Казалось бы, при чем тут деление на ноль._

In [44]:
def normalize(matrix: np.array) -> np.array:

  scaled = (matrix - np.mean (matrix, axis=0)) / np.std (matrix, axis=0)

  scaled = np.round (scaled, 2)

  return scaled

matrix = np.array([[1, 4, 4200], [0, 10, 5000], [1, 2, 1000]])
normalize (matrix)

array([[ 0.71, -0.39,  0.46],
       [-1.41,  1.37,  0.93],
       [ 0.71, -0.98, -1.39]])

In [ ]:
matrix = np.array([[1, 4, 4200], [0, 10, 5000], [1, 2, 1000]])

assert np.allclose(
    normalize(matrix),
    np.array([[ 0.7071, -0.39223,  0.46291],
              [-1.4142,  1.37281,  0.92582],
              [ 0.7071, -0.98058, -1.38873]])
)

In [ ]:
matrix = np.array([[-7, 2, 42], [2, 10, 50], [5, 4, 10]])

assert np.allclose(
    normalize(matrix),
    np.array([[-1.37281, -0.98058,  0.46291],
              [ 0.39223,  1.37281,  0.92582],
              [ 0.98058, -0.39223, -1.38873]])
)

### Задание 7

Напишите функцию, вычисляющую какую-нибудь первообразную данного полинома (в качестве константы возьмите $0$). Например, если на вход поступает массив коэффициентов `array([4, 6, 0, 1])`, что соответствует полиному $4x^3 + 6x^2 + 1$, на выходе получается массив коэффициентов `array([1, 2, 0, 1, -2])`, соответствующий полиному $x^4 + 2x^3 + x - 2$.

In [50]:
def antiderivative(coefs: np.array) -> np.array:
    x = np.polyint (coefs, k = -2) #константа должна быть -2, чтобы такое получилось?..

    return x

coefs = np.array([4, 6, 0, 1])
antiderivative (coefs)

array([ 1.,  2.,  0.,  1., -2.])

In [ ]:
coefs = np.array([4, 6, 0, 1])

assert np.allclose(
    antiderivative(coefs),
    np.array([1., 2., 0., 1., 0.])
)

In [ ]:
coefs = np.array([1, 7, -12, 21, -6])

assert np.allclose(
    antiderivative(coefs),
    np.array([ 0.2, 1.75, -4., 10.5, -6., 0.])
)

### Задание 8

Напишите функцию, делающую данную [треугольную матрицу](https://ru.wikipedia.org/wiki/%D0%A2%D1%80%D0%B5%D1%83%D0%B3%D0%BE%D0%BB%D1%8C%D0%BD%D0%B0%D1%8F_%D0%BC%D0%B0%D1%82%D1%80%D0%B8%D1%86%D0%B0) симметричной. Например, если на вход поступает матрица
$$
\begin{pmatrix}
1 & 2 & 3 & 4\\
0 & 5 & 6 & 7\\
0 & 0 & 8 & 9\\
0 & 0 & 0 & 10\\
\end{pmatrix},
$$
то на выходе должна быть матрица
$$
\begin{pmatrix}
1 & 2 & 3 & 4\\
2 & 5 & 6 & 7\\
3 & 6 & 8 & 9\\
4 & 7 & 9 & 10\\
\end{pmatrix}.
$$

In [63]:
def make_symmetric(matrix: np.array) -> np.array:
    c = np.flip (matrix, axis=1)
    c = np.rot90 (c)
    c = c | matrix
    return c

matrix = np.array([[1, 2, 3, 4], [0, 5, 6, 7], [0, 0, 8, 9], [0, 0, 0, 10]])
make_symmetric (matrix)

array([[ 1,  2,  3,  4],
       [ 2,  5,  6,  7],
       [ 3,  6,  8,  9],
       [ 4,  7,  9, 10]])

In [ ]:
matrix = np.array([[1, 2, 3, 4], [0, 5, 6, 7], [0, 0, 8, 9], [0, 0, 0, 10]])

assert np.allclose(
    make_symmetric(matrix),
    np.array([[ 1,  2,  3,  4],
              [ 2,  5,  6,  7],
              [ 3,  6,  8,  9],
              [ 4,  7,  9, 10]])
)

In [ ]:
matrix = np.array([[10, 21, 32, 49], [0, 53, 62, 78], [0, 0, 82, 92], [0, 0, 0, 10]])

assert np.allclose(
    make_symmetric(matrix),
    np.array([[10, 21, 32, 49],
              [21, 53, 62, 78],
              [32, 62, 82, 92],
              [49, 78, 92, 10]])
)

### Задание 9

Напишите функцию, создающую прямоугольную матрицу из m одинаковых строк, заполненных последовательными натуральными числами от a до b включительно в возрастающем порядке. Например, если m = 5, a = 3, b = 10, то на выходе будет матрица
$$
\begin{pmatrix}
3 & 4 & 5 & 6 & 7 & 8 & 9 & 10\\
3 & 4 & 5 & 6 & 7 & 8 & 9 & 10\\
3 & 4 & 5 & 6 & 7 & 8 & 9 & 10\\
3 & 4 & 5 & 6 & 7 & 8 & 9 & 10\\
3 & 4 & 5 & 6 & 7 & 8 & 9 & 10\\
\end{pmatrix}
$$

In [ ]:
def construct_matrix(m: int, a: int, b: int) -> np.array:
    list_of = []
    row = []

    for y in range (0, m):
      for i in range (a, b+1):
        row.append (i)
      list_of.append (row)
      row = []
    matrix = np.array (list_of)
    return matrix

m = 5
a = 3
b = 10

construct_matrix (m, a, b)

array([[ 3,  4,  5,  6,  7,  8,  9, 10],
       [ 3,  4,  5,  6,  7,  8,  9, 10],
       [ 3,  4,  5,  6,  7,  8,  9, 10],
       [ 3,  4,  5,  6,  7,  8,  9, 10],
       [ 3,  4,  5,  6,  7,  8,  9, 10]])

In [ ]:
m = 5
a = 3
b = 10

assert np.allclose(
    construct_matrix(m, a, b),
    np.array([[ 3,  4,  5,  6,  7,  8,  9, 10],
              [ 3,  4,  5,  6,  7,  8,  9, 10],
              [ 3,  4,  5,  6,  7,  8,  9, 10],
              [ 3,  4,  5,  6,  7,  8,  9, 10],
              [ 3,  4,  5,  6,  7,  8,  9, 10]])
)

In [ ]:
m = 3
a = 2
b = 6

assert np.allclose(
    construct_matrix(m, a, b),
    np.array([[2, 3, 4, 5, 6],
              [2, 3, 4, 5, 6],
              [2, 3, 4, 5, 6]])
)

### Задание 10

Напишите функцию, вычисляющую [косинусную близость](https://en.wikipedia.org/wiki/Cosine_similarity) двух векторов. Например, если на вход поступают вектора `array([-2, 1, 0, -5, 4, 3, -3])` и `array([0, 2, -2, 10, 6, 0, 0])`, ответом будет -0.25.

In [ ]:
from numpy import dot
from numpy.linalg import norm

def cosine_similarity(vec1: np.array, vec2: np.array) -> float:
     x = dot(vec1, vec2)/(norm(vec1)*norm(vec2))
     return x

vec1 = np.array([-2, 1,  0, -5, 4, 3, -3])
vec2 = np.array([ 0, 2, -2, 10, 6, 0,  0])
cosine_similarity (vec1, vec2)

-0.25

In [ ]:
vec1 = np.array([-2, 1,  0, -5, 4, 3, -3])
vec2 = np.array([ 0, 2, -2, 10, 6, 0,  0])

assert np.allclose(cosine_similarity(vec1, vec2), -0.25)

In [ ]:
vec1 = np.array([-4, 2,  9, -8, 9, 0, -2])
vec2 = np.array([ 3, 2, -4, -1, 3, 2,  2])

assert np.allclose(cosine_similarity(vec1, vec2), -0.119929)